html {
    background: black;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Matrix {
    display: none;
}